@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.container {
    background-color: #222242;
    height: 100vh;
    width: 100%;
    text-align: center;
    position: absolute;
}

.inner {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.inner p{
    position: relative;
    display: inline-block;
    color: #ffff;
    z-index: 9999;
    font-size: 40px;
    margin-bottom: 120px;
}

.inner p::before{
    content: "";
    width: 200px;
    height: 200px;
    background-color: #151538;
    position: absolute;
    z-index: -1;
    border-radius: 50%;
    left: -27%;
    top: -143%;
    animation-name: shine;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.tens {
    font-size: 20px;
}

@keyframes shine {
    0%,100%{
        box-shadow: 0px 0px 32px -12px #f6b400 ;
    }
    50%{
        box-shadow: 0px 0px 32px 3px rgb(126, 126, 1);
    }
}

button {
    background-color: #222242;
    border: 1px solid #a9a9a9;
    padding: 10px 32px;
    color: #ffff;
    border-radius: 20px;
    width: 100px;
    margin: 0 16px;
    transition: all .2s ease;
    outline: 0;
    cursor: pointer;
}

button:hover,button:focus {
    color: #f6b400 ;
    border-color: #f6b400;
    box-shadow: 0px 4px 27px -12px #f6b400;
}